ion-toolbar{
  --background: #002152;
}
ion-title, ion-menu-button {
  color: white;
}
img {
  max-width: 140px;
  border-radius: 50%;
}
.color-site{
  color: #002152;
}

.underline{
  text-decoration: underline;
}
