<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row *ngFor="let business of stores$ | async" class="record-row">
    <ion-col>
      <ion-accordion-group *ngIf="business.name">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <div class="header-history color-site">
              {{business.name}}
            </div>
          </ion-item>
          <div class="ion-padding" slot="content" *ngFor="let store of business.stores">
            <div>{{store.name}}</div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let business of storesByProgram | keyvalue" class="record-row">
    <ion-col>
      <ion-accordion-group *ngIf="business.key">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <div class="header-history color-site">
              {{business.key}}
            </div>
          </ion-item>
          <div class="ion-padding" slot="content" *ngFor="let store of business.value">
            <div>{{store.name}}</div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-content>
