<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Store
      <!--<div><img src="assets/img/logo_yalla_rewards_yw.svg" alt="Ionic logo" width="35"></div>-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row *ngFor="let business of stores$ | async" class="record-row">
    <ion-col>
      <ion-accordion-group *ngIf="business.name">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <div class="header-history color-site">
              {{business.name}}
            </div>
          </ion-item>
          <div class="ion-padding" slot="content" *ngFor="let store of business.stores">
            <div>
              <div class="name-store" *ngIf="store.name">{{store.name}}
                <a [href]="'https://www.google.com/maps/search/?api=1&query='+getGoogleLink(store)">
                  <img src="assets/img/marker-icon-orange.png" width="12.5" height="20.5" />
                </a>
              </div>
              <div class="info-rest">
                <div><span class="info-column">Email: </span><span *ngIf="store.email">{{store.email}}</span></div>
                <div><span class="info-column">Phone: </span><span *ngIf="store.phone">{{store.phone}}</span></div>
                <div>
                  <span class="info-column">Address: </span>
                  <span *ngIf="store.address1">{{store.address1}}</span>
                  <span>{{store.address2}}</span>
                  <span *ngIf="store.city"><span *ngIf="store.address1">, </span>{{store.city}}</span>
                  <span *ngIf="store.country"> {{store.country}}</span>
                </div>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let business of storesByProgram | keyvalue" class="record-row">
    <ion-col>
      <ion-accordion-group *ngIf="business.key">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <div class="header-history color-site">
              {{business.key}}
            </div>
          </ion-item>
          <div class="ion-padding" slot="content" *ngFor="let store of business.value">
            <div>
              <div class="name-store" *ngIf="store.name">{{store.name}}
                <a [href]="'https://www.google.com/maps/search/?api=1&query='+getGoogleLink(store)">
                  <img src="assets/img/marker-icon-orange.png" width="12.5" height="20.5" />
                </a>
              </div>
              <div class="info-rest">
                <div><span class="info-column">Email: </span><span *ngIf="store.email">{{store.email}}</span></div>
                <div><span class="info-column">Phone: </span><span *ngIf="store.phone">{{store.phone}}</span></div>
                <div>
                  <span class="info-column">Address: </span>
                  <span *ngIf="store.address1">{{store.address1}}</span>
                  <span>{{store.address2}}</span>
                  <span *ngIf="store.city"><span *ngIf="store.address1">, </span>{{store.city}}</span>
                  <span *ngIf="store.country"> {{store.country}}</span>
                </div>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-content>
