<ion-content class="overlay overlay-show">
  <div class="login-logo">
    <img src="assets/img/logo.svg" alt="Ionic logo">
  </div>

  <div class="content-login">
    <h1 class="title-login">
      <span>Register</span>
    </h1>
    <div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item lines="full">
        <ion-label color="light" position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" class="ion-text-start">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" class="ion-text-start">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Phone Number</ion-label>
        <ion-input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="ion-text-start">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="ion-text-start">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Date of Birth</ion-label>
        <ion-input
          value="{{ f.date_of_birth.value | date: 'dd.mm.yyyy' }}"
          id="date"
          class="ion-text-start"
        ></ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime
              presentation="date"
              locale="en-uk"
              formControlName="date_of_birth"
              [max]=getTodayUTC()
              show-default-buttons="true"
              (ionChange)="getData($event)"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Gender</ion-label>
        <ion-select value="{{ f.gender.value}}" okText="Okay" cancelText="Dismiss" formControlName="gender" class="form-control">
          <ion-select-option value="male" >Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Country</ion-label>
        <ion-select
          value="{{ f.country.value}}"
          okText="Okay"
          cancelText="Dismiss"
          formControlName="country"
          class="form-control"
          (ionChange)="loadRegion($event)">
          <ion-select-option value="{{country.id}}" *ngFor="let country of countries$ | async">{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Region</ion-label>
        <ion-select
          value="{{ f.region.value}}"
          okText="Okay"
          cancelText="Dismiss"
          formControlName="region"
          class="form-control"
          (ionChange)="loadCity($event)">
          <ion-select-option value="{{region.id}}" *ngFor="let region of regions$ | async">{{region.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">City</ion-label>
        <ion-select
          value="{{ f.city.value}}"
          okText="Okay"
          cancelText="Dismiss"
          formControlName="city"
          class="form-control">
          <ion-select-option value="{{city.id}}" *ngFor="let city of cities$ | async">{{city.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="light" position="floating">Password Confirmation</ion-label>
        <ion-input type="password" formControlName="password_confirmation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }">
        </ion-input>
      </ion-item>
    </ion-list>

    <!--<div *ngIf="submitted && f.first_name?.errors" class="invalid-feedback">
      <div *ngIf="f.first_name?.errors?.required">First Name is required</div>
    </div>
    <div *ngIf="submitted && f.last_name?.errors" class="invalid-feedback">
      <div *ngIf="f.last_name?.errors?.required">Last Name is required</div>
    </div>
    <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
      <div *ngIf="f.email?.errors?.required">Email is required</div>
    </div>
    <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
      <div *ngIf="f.password?.errors?.required">Password is required</div>
    </div>
    <div *ngIf="submitted && f.password_confirmation?.errors" class="invalid-feedback">
      <div *ngIf="f.password_confirm?.errors?.required">Password confirmation is required</div>
    </div>-->

    <div class="form-btn-login">
      <button [disabled]="loading" class="btn btn-primary btn-modern">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
      </button>
      <a routerLink="/login" class="btn btn-primary btn-modern" >Cancel</a>
    </div>

  </form>
    </div>
  </div>

</ion-content>
