ion-content{
  --ion-background-color:radial-gradient(180% 168% at bottom, #3E9E88 55%, white 45%) !important;
  height: 100vh!important;

  .content-login {
    top: 4%;
    position: relative;
    h1 {
      margin-top: 20px;
      font-size: 25px;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
  }

  ion-list{
    --ion-background-color: transparent;
    ion-item {
      --highlight-color-valid: transparent;
      --highlight-color-invalid: transparent;
      --highlight-color-focused: none;
      --color: white;
      .item-native{
        --ion-background-color: white;
        --ion-color: white;
      }
    }
  }

  .btn-primary {
    background-color: #bfa888;
    border-color: #bfa888;
    color: #fff;
    letter-spacing: .25em;
    border-radius: 0;
    --color: #bfa888;
    --hover: #00a1f2;
    --disabled: #bfa888;
    --active: #006ea6;
  }

  .btn-outline.btn-primary {
    color: #bfa888;
    background-color: transparent;
    background-image: none;
    border-color: #bfa888;
    float: right;
  }

  .btn-modern {
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    font-weight: 600;
    margin-top: 0.5rem!important;
  }

  .btn-outline{
    border-width: 2px;
  }

  .form-btn-login {
    margin-top:20px;
    text-align: center;
    .btn, a{
      margin: 10px;
      padding:17px;
      text-decoration: none;
      height:50px;
      border-radius: 10px;
      background-color: white;
      color: #3E9E88;
    }
  }

}

.login-logo img {
  width: 230px;
  margin: auto;
  display: block;
  margin-top:5px;
}

.list {
  margin-bottom: 0;
}



.signup-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.is-invalid {
  border: 1px red solid;
}

.form-container {
  overflow-y: scroll;
  height: calc(100vh - 127px);
}
