ion-toolbar{
  --background: #002152;
}
ion-title, ion-menu-button {
  color: white;
}

.center{
  text-align: center;
}

.position-logo-center{
  margin-left:31%;
}

.title{
  color: #002152;
  font-weight: bolder;
}
