<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="position-logo-center color-site"><!--Home-->
      <!--<div><img src="assets/img/logo_yalla_rewards_yw.svg" alt="Ionic logo" width="35"></div>-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="overlay overlay-show">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col class="center title">
          {{user.name}}
          <qrcode [qrdata]="''+user.id" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="(program$ | async) as program">
      <ion-row>
        <ion-col>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-center home-points">
                  <span class="h5  fw-bold">{{program.points_earned + program.points_redeemed}}</span>
                  <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Available Points</h6>
                </div><!--end col-->
              </div> <!-- end row -->
            </div><!--end card-body-->
          </div>
        </ion-col>
        <ion-col>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-center home-points">
                  <span class="h5  fw-bold">{{program.points_balance - program.points_earned}}</span>
                  <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Balance Points</h6>
                </div><!--end col-->
              </div> <!-- end row -->
            </div><!--end card-body-->
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="next-purchase">(You will save <span class="amount">{{program.discount_balance}} {{program.symbol}}</span> on your next purchase)</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="histories$ | async as histories; else indicator" class="history-home">
      <ion-row *ngFor="let history of histories" class="record-row">
        <ion-col>
          <div class="header-history color-site">
            <span class="time right-space">{{history.updated_at | date:'MMM d, yyyy H:m'}} - </span>
            <span class="reason" [ngSwitch]="history.event_id">
              <span *ngSwitchCase="1">Purchase</span>
              <span *ngSwitchCase="2">Cancel Points</span>
              <span *ngSwitchCase="3">Redeem Points</span>
              <span *ngSwitchCase="4">Signup Points</span>
              <span *ngSwitchCase="13">First Purchase</span>
              <span *ngSwitchCase="14">Manually Added Points</span>
            </span>
          </div>
          <div class="top-space-item" *ngIf="history.items?.length > 0">
            <div *ngFor="let item of history.items">
              <span class="item-id">{{item.id}}</span>
              <span class="item">{{item.name}}</span>
            </div>
          </div>
          <div class="top-space-item">
            <span class="currency right-space">{{checkCurrency(history.currency_id)}}</span>
            <span class="money color-site right-space">{{history.shopping_value || '' }}</span>
            <span class="points-earned right-space">Points earned</span>
            <span class="points color-site">{{history.points}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #indicator>
    <div><!--<img src="assets/img/loading.gif">--> No histories record yet</div>
  </ng-template>
</ion-content>
