<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-title class="center color-site">
      <div>{{user.name}}</div>
      <!--<div>({{user.card_number}})</div>-->
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="overlay overlay-show">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col class="center">
        <qrcode [qrdata]="''+user.id" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="(program$ | async) as program">
      <ion-row>
        <ion-col>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-center home-points">
                  <span class="h5  fw-bold">{{program.points_earned}}</span>
                  <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Points available</h6>
                </div><!--end col-->
              </div> <!-- end row -->
            </div><!--end card-body-->
          </div>
        </ion-col>
        <ion-col>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-center home-points">
                  <span class="h5  fw-bold">{{program.points_balance - program.points_redeem}}</span>
                  <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Points spent</h6>
                </div><!--end col-->
              </div> <!-- end row -->
            </div><!--end card-body-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="histories$ | async as histories; else indicator" class="history-home">
      <ion-row *ngFor="let history of histories" class="record-row">
        <ion-col>
          <div class="header-history color-site">
            <span class="time right-space">{{history.updated_at | date:'mediumDate'}} - </span>
            <span class="reason" [ngSwitch]="history.event_id">
              <span *ngSwitchCase="1">Online shopping</span>
              <span *ngSwitchCase="2">Cancel Points</span>
              <span *ngSwitchCase="3">Redeem Points</span>
              <span *ngSwitchCase="4">Signup</span>
            </span>
          </div>
          <div class="top-space-item" *ngIf="history.items?.length > 0">
            <div *ngFor="let item of history.items">
              <span class="item-id">1.</span>
              <span class="item">O'neill Standard zip hoodie</span>
            </div>
          </div>
          <div class="top-space-item">
            <span class="currency right-space">{{checkCurrency(history.currency_id)}}</span>
            <span class="money color-site right-space">{{history.shopping_value || '' }}</span>
            <span class="points-earned right-space">Points earned</span>
            <span class="points color-site">{{history.points}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #indicator>
    <div><img src="assets/img/loading.gif"></div>
  </ng-template>
</ion-content>
