ion-toolbar{
  --background: #002152;
}
ion-title, ion-menu-button {
  --color: white;
}

.title{
  font-weight: bolder;
  color: #002152;
  font-size: 25px;
}

.center{
  text-align: center;
}

.position-logo-center{
  // margin-left:31%;
}

ion-content{
  --ion-background-color:white;
  height: 100vh!important;
  margin: 10px;

  // --background: beige;

  .geo-logo {
    text-align: center;
  }

  .header{
    color: #002152;
    font-size: 20px;
  }

  .value{
    color: #a9a9a9;
    font-size: 44px;
    margin-top: 10px;
  }

  .color-site{
    color: #002152;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  .record-row{
    border-bottom: 2px #ccc solid;
    padding:5px 0;
    .top-space-item{
      padding-top: 8px;
    }
    .right-space {
      padding-right: 5px;
    }
  }

  .card {
    background-color: #002152;
    .home-points {
      margin: 0;
      overflow-x: hidden !important;
      color: #fff;
      letter-spacing: .1px;
      line-height: 1.5;

      .h5 {
        font-size: 32px !important
      }

      h6 {
        color: #fff !important;
        font-size: 11px;
      }
    }
  }

  .history-home{
    margin-top: 30px;
  }

  .next-purchase {
    text-align: center;
    font-size: 14px;
    .amount {
      font-weight: bolder;
    }
  }

}

